# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

.idea/
# testing
coverage

# next.js
.next/
out/
next-env.d.ts

# production
build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env
.env*.local
.env.docker
.env.docker.*

# vercel
.vercel

# typescript
*.tsbuildinfo

# turbo
.turbo

# react-email
.react-email
packages/email/public
!packages/email/public/.gitkeep
!packages/email/.react-email/.gitkeep

# Storybook
storybook-static
tailwind.css

# Supabase
.branches
.temp

# Trigger
.trigger

# Playground
playground/
.playground/
.venv

# Ignore lock files to prevent conflicts between different package managers
bun.lock
yarn.lock

# Playwright test results and reports
**/playwright-report/
**/test-results/
**/playwright/.cache/
**/.playwright/

# Playwright test artifacts
test-results/
playwright-report/
playwright/.cache/
debug-setup-page.png

packages/*/dist

# Generated Prisma Client
**/src/db/generated/

# Release script
scripts/sync-release-branch.sh
/.vscode
